@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tunr</title>
	@Styles.Render("~/bundles/css")
</head>
<body>
	<noscript>
		<h1>Tunr</h1>
		<p>Tunr requires a modern browser with JavaScript support.</p>
		<p>Please enable JavaScript, or download a modern browser such as Internet Explorer 11 or Google Chrome.</p>
	</noscript>
	<div class="loginbg">
		<div class="dialog">
			<h1>Tunr</h1>
			<form>
				<input name="email" type="email" placeholder="e-mail address"/>
				<input name="password" type="password" placeholder="password" />
				<input type="submit" value="Log In" />
			</form>
		</div>
	</div>
	@Scripts.Render("~/bundles/js")
	@Scripts.Render("~/bundles/ts")
</body>
</html>
