@import "Functions.less";
@import "Fonts.less";
@import "Constants.less";

body {
	font-family:'Open Sans';
	font-weight:normal;
	color:#fff;
	background-color: @bg-color;
}

.COMPONENT {
	display:none;
}

// Components
@import "Animations.less";
@import "Dialog.less";
@import "Components/Login.less";
@import "Components/Player.less";
/*@import "Components/LibraryPane.less";
@import "Components/PlaylistPane.less";
@import "Components/PlayingPane.less";*/