@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sanslight') format('svg');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: 'Open Sans';
  font-weight: normal;
  color: #fff;
  background-color: #0d0d0d;
}
.COMPONENT {
  display: none;
}
/* Fade in/out animations */
@-moz-keyframes anim_fadeout {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes anim_fadeout {
  to {
    opacity: 0;
  }
}
@keyframes anim_fadeout {
  to {
    opacity: 0;
  }
}
.animated.anim_fadeout {
  -moz-animation-name: anim_fadeout;
  -o-animation-name: anim_fadeout;
  -webkit-animation-name: anim_fadeout;
  animation-name: anim_fadeout;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes anim_fadein {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes anim_fadein {
  from {
    opacity: 0;
  }
}
@keyframes anim_fadein {
  from {
    opacity: 0;
  }
}
.animated.anim_fadein {
  -moz-animation-name: anim_fadein;
  -o-animation-name: anim_fadein;
  -webkit-animation-name: anim_fadein;
  animation-name: anim_fadein;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* Shove in animations */
@-moz-keyframes anim_shovein_top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim_shovein_top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@keyframes anim_shovein_top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
.animated.anim_shovein_top {
  -moz-animation-name: anim_shovein_top;
  -o-animation-name: anim_shovein_top;
  -webkit-animation-name: anim_shovein_top;
  animation-name: anim_shovein_top;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*
 * Dialog Styles, used for pop-up dialogs of any sort.
 */
div.dialog.vertical {
  position: fixed;
  width: 800px;
  height: 500px;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -400px;
  background-color: #ffffff;
}
div.dialog.vertical h1 {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 136px;
  color: #0d0d0d;
  line-height: 1;
  margin: -20px 0 0 -12px;
}
div.loginbg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 15;
}
div.loginbg div.dialog {
  position: fixed;
  width: 600px;
  height: 350px;
  top: 50%;
  margin-top: -175px;
  left: 50%;
  margin-left: -300px;
  text-align: center;
}
div.loginbg div.dialog h1 {
  font-family: 'Open Sans';
  font-weight: 100;
  letter-spacing: -2px;
  font-size: 96px;
  text-align: center;
  color: #0d0d0d;
  margin: 0;
}
div.loginbg div.dialog form input[type=email],
div.loginbg div.dialog form input[type=password] {
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  width: 220px;
  letter-spacing: -1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;
  display: block;
  margin: 12px auto;
  padding: 4px 8px;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
div.loginbg div.dialog form input[type=email]:focus,
div.loginbg div.dialog form input[type=password]:focus {
  opacity: 1;
  outline: none;
}
div.loginbg div.dialog form input[type=email]:-ms-input-placeholder,
div.loginbg div.dialog form input[type=password]:-ms-input-placeholder {
  font-weight: 100;
  opacity: 0.7;
  letter-spacing: 1px;
}
div.loginbg div.dialog form input[type=email]::-moz-placeholder,
div.loginbg div.dialog form input[type=password]::-moz-placeholder {
  font-weight: 100;
  opacity: 0.7;
  letter-spacing: 1px;
}
div.loginbg div.dialog form input[type=email]::-webkit-input-placeholder,
div.loginbg div.dialog form input[type=password]::-webkit-input-placeholder {
  font-weight: 100;
  opacity: 0.7;
  letter-spacing: 1px;
}
div.loginbg div.dialog form input[type=submit] {
  cursor: pointer;
  width: 236px;
  height: 48px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  background-color: #0d0d0d;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  margin: 12px 0 0 0;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -moz-transition: -moz-transform 300ms ease-in-out;
  -o-transition: -o-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
div.loginbg div.dialog form input[type=submit].pressed {
  -webkit-transform: scale3d(1, 0, 1);
  -moz-transform: scale3d(1, 0, 1);
  -ms-transform: scale3d(1, 0, 1);
  -o-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
}
div.loginbg div.dialog div.progress {
  cursor: pointer;
  width: 236px;
  height: 28px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  background-color: #0d0d0d;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  margin: 0 auto;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scale3d(1, 0.00001, 1);
  -moz-transform: scale3d(1, 0.00001, 1);
  -ms-transform: scale3d(1, 0.00001, 1);
  -o-transform: scale3d(1, 0.00001, 1);
  transform: scale3d(1, 0.00001, 1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -moz-transition: -moz-transform 300ms ease-in-out;
  -o-transition: -o-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
div.loginbg div.dialog div.progress.showing {
  -webkit-transform: translate3d(0, -48px, 0);
  -moz-transform: translate3d(0, -48px, 0);
  -ms-transform: translate3d(0, -48px, 0);
  -o-transform: translate3d(0, -48px, 0);
  transform: translate3d(0, -48px, 0);
}
@-moz-keyframes anim_login_out {
  to {
    width: 300px;
  }
}
@-webkit-keyframes anim_login_out {
  to {
    width: 300px;
  }
}
@keyframes anim_login_out {
  to {
    width: 300px;
  }
}
.animated.anim_login_out {
  -moz-animation-name: anim_login_out;
  -o-animation-name: anim_login_out;
  -webkit-animation-name: anim_login_out;
  animation-name: anim_login_out;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.librarypane {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 20;
}
.librarypane nav a {
  cursor: pointer;
  overflow: hidden;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 64px;
  color: #0d0d0d;
  text-decoration: none;
  line-height: 0.9;
  opacity: 0.3;
  display: block;
  text-transform: lowercase;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}
.librarypane nav a:not(:first-child) {
  -moz-animation-name: anim_librarypane_list_in;
  -o-animation-name: anim_librarypane_list_in;
  -webkit-animation-name: anim_librarypane_list_in;
  animation-name: anim_librarypane_list_in;
  -moz-animation-duration: 250ms;
  -o-animation-duration: 250ms;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.librarypane nav a:hover {
  opacity: 1;
}
.librarypane nav a:first-child {
  font-size: 96px;
}
.librarypane nav a:nth-child(3) {
  font-size: 52px;
}
.librarypane nav a:last-child {
  opacity: 1.0;
}
.librarypane div.container {
  position: relative;
  height: calc(100% - 120px);
  overflow: hidden;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.librarypane ul {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  list-style-type: none;
  -moz-animation-name: anim_librarypane_list_in;
  -o-animation-name: anim_librarypane_list_in;
  -webkit-animation-name: anim_librarypane_list_in;
  animation-name: anim_librarypane_list_in;
  -moz-animation-duration: 200ms;
  -o-animation-duration: 200ms;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  z-index: 10;
  -moz-perspective: inherit;
  -ms-perspective: inherit;
  -webkit-perspective: inherit;
  perspective: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.librarypane ul.hidden {
  -moz-animation-name: anim_librarypane_list_out;
  -o-animation-name: anim_librarypane_list_out;
  -webkit-animation-name: anim_librarypane_list_out;
  animation-name: anim_librarypane_list_out;
  -moz-animation-duration: 200ms;
  -o-animation-duration: 200ms;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 9;
}
.librarypane ul.artists {
  margin: 16px 0 0 20px;
  padding: 0;
  color: #0d0d0d;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 100;
}
.librarypane ul.artists li {
  cursor: pointer;
  padding: 4px 0;
  white-space: nowrap;
}
.librarypane ul.albums {
  margin: 16px 8px 0 8px;
  padding: 0;
}
.librarypane ul.albums li {
  cursor: pointer;
  background-color: #eee;
  display: block;
  float: left;
  width: 128px;
  height: 128px;
  margin: 6px;
}
.librarypane ul.albums li img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
.librarypane ul.songs {
  margin: 16px 0 0 16px;
  padding: 0;
  color: #0d0d0d;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 100;
}
.librarypane ul.songs li {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 4px 0;
  white-space: nowrap;
}
.librarypane ul.songs li .track {
  font-size: 26px;
  padding-right: 8px;
}
@-moz-keyframes anim_librarypane_in {
  from {
    left: -300px;
  }
}
@-webkit-keyframes anim_librarypane_in {
  from {
    left: -300px;
  }
}
@keyframes anim_librarypane_in {
  from {
    left: -300px;
  }
}
.animated.anim_librarypane_in {
  -moz-animation-name: anim_librarypane_in;
  -o-animation-name: anim_librarypane_in;
  -webkit-animation-name: anim_librarypane_in;
  animation-name: anim_librarypane_in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-moz-keyframes anim_librarypane_list_in {
  from {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }
}
@-webkit-keyframes anim_librarypane_list_in {
  from {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }
}
@keyframes anim_librarypane_list_in {
  from {
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }
}
@-moz-keyframes anim_librarypane_list_out {
  to {
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}
@-webkit-keyframes anim_librarypane_list_out {
  to {
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}
@keyframes anim_librarypane_list_out {
  to {
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}
.playlistpane {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 300px;
  width: 300px;
  background-color: #0d0d0d;
  z-index: 10;
  overflow: hidden;
}
.playlistpane h1 {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 48px;
  text-transform: lowercase;
  margin: 24px 0 12px 24px;
  height: 65px;
}
.playlistpane ul.songlist {
  list-style-type: none;
  margin: 16px 0 0 32px;
  padding: 0;
  height: calc(100% - 101px);
  overflow-y: auto;
  overflow-x: hidden;
}
.playlistpane ul.songlist li.playlistitem {
  position: relative;
  cursor: pointer;
  font-family: 'Open Sans';
  margin: 16px 0;
  white-space: nowrap;
  line-height: 1;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 150ms ease-in-out;
  -moz-transition: -moz-transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 150ms ease-in-out;
  -o-transition: -o-transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 150ms ease-in-out;
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity 150ms ease-in-out;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.playlistpane ul.songlist li.playlistitem div.listing {
  opacity: 0.6;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  z-index: 10;
}
.playlistpane ul.songlist li.playlistitem div.listing span.title {
  font-weight: 900;
  font-size: 20px;
}
.playlistpane ul.songlist li.playlistitem div.listing span.artist {
  font-weight: 100;
  font-size: 14px;
}
.playlistpane ul.songlist li.playlistitem div.listing:hover {
  opacity: 1;
}
.playlistpane ul.songlist li.playlistitem.playing div.listing {
  opacity: 1.0;
}
.playlistpane ul.songlist li.playlistitem.dim div.listing {
  opacity: 0.2;
}
.playlistpane ul.songlist li.playlistitem ul.controls {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  list-style-type: none;
  margin: 0 0 0 0px;
  padding: 0;
  z-index: 20;
}
.playlistpane ul.songlist li.playlistitem ul.controls li {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0 8px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-position: 8px 8px;
  background-size: 22px;
  background-repeat: no-repeat;
}
.playlistpane ul.songlist li.playlistitem ul.controls li.play {
  background-image: url("../svg/play_white.svg");
}
.playlistpane ul.songlist li.playlistitem ul.controls li.play:active {
  background-image: url("../svg/play_black.svg");
}
.playlistpane ul.songlist li.playlistitem ul.controls li:active {
  background-color: #fff;
}
.playlistpane ul.songlist li.playlistitem.playing {
  -webkit-transform: translate3d(12px, 0, 0);
  -moz-transform: translate3d(12px, 0, 0);
  -ms-transform: translate3d(12px, 0, 0);
  -o-transform: translate3d(12px, 0, 0);
  transform: translate3d(12px, 0, 0);
  opacity: 1;
}
@-moz-keyframes anim_playlistpane_in {
  from {
    left: 0;
  }
}
@-webkit-keyframes anim_playlistpane_in {
  from {
    left: 0;
  }
}
@keyframes anim_playlistpane_in {
  from {
    left: 0;
  }
}
.animated.anim_playlistpane_in {
  -moz-animation-name: anim_playlistpane_in;
  -o-animation-name: anim_playlistpane_in;
  -webkit-animation-name: anim_playlistpane_in;
  animation-name: anim_playlistpane_in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-moz-keyframes anim_playlistitem_in {
  from {
    -webkit-transform: translate3d(-120px, 0, 0);
    -moz-transform: translate3d(-120px, 0, 0);
    -ms-transform: translate3d(-120px, 0, 0);
    -o-transform: translate3d(-120px, 0, 0);
    transform: translate3d(-120px, 0, 0);
  }
}
@-webkit-keyframes anim_playlistitem_in {
  from {
    -webkit-transform: translate3d(-120px, 0, 0);
    -moz-transform: translate3d(-120px, 0, 0);
    -ms-transform: translate3d(-120px, 0, 0);
    -o-transform: translate3d(-120px, 0, 0);
    transform: translate3d(-120px, 0, 0);
  }
}
@keyframes anim_playlistitem_in {
  from {
    -webkit-transform: translate3d(-120px, 0, 0);
    -moz-transform: translate3d(-120px, 0, 0);
    -ms-transform: translate3d(-120px, 0, 0);
    -o-transform: translate3d(-120px, 0, 0);
    transform: translate3d(-120px, 0, 0);
  }
}
.animated.anim_playlistitem_in {
  -moz-animation-name: anim_playlistitem_in;
  -o-animation-name: anim_playlistitem_in;
  -webkit-animation-name: anim_playlistitem_in;
  animation-name: anim_playlistitem_in;
  -moz-animation-duration: 200ms;
  -o-animation-duration: 200ms;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -moz-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.playingpane {
  position: absolute;
  left: 600px;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: 32px;
  overflow: hidden;
}
.playingpane div.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.playingpane div.title h1 {
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 52px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  margin: 32px 0 0 0;
  white-space: nowrap;
}
.playingpane div.title h2 {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 16px 0;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
}
.playingpane div.art {
  position: absolute;
  display: block;
  top: 150px;
  left: 0;
  width: 220px;
  height: 220px;
  background-color: #1f1f1f;
  overflow: hidden;
}
.playingpane div.art img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.playingpane ul.controls {
  position: absolute;
  top: 390px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 198px;
  margin-left: 11px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.playingpane ul.controls li {
  display: block;
  float: left;
  width: 56px;
  height: 56px;
  margin: 0 5px;
}
.playingpane ul.controls li button {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  border: 2.5px solid #ffffff;
  background-position: 12px 12px;
  background-color: transparent;
  background-size: 28px;
  background-repeat: no-repeat;
}
.playingpane ul.controls li button:active {
  background-color: white;
}
.playingpane ul.controls li.prev button {
  background-image: url("../svg/prev_white.svg");
}
.playingpane ul.controls li.prev button:active {
  background-image: url("../svg/prev_black.svg");
}
.playingpane ul.controls li.next button {
  background-image: url("../svg/next_white.svg");
}
.playingpane ul.controls li.next button:active {
  background-image: url("../svg/next_black.svg");
}
.playingpane ul.controls li.play button {
  background-image: url("../svg/play_white.svg");
}
.playingpane ul.controls li.play button:active {
  background-image: url("../svg/play_black.svg");
}
.playingpane ul.controls li.pause button {
  background-image: url("../svg/pause_white.svg");
}
.playingpane ul.controls li.pause button:active {
  background-image: url("../svg/pause_black.svg");
}
.playingpane ul.controls.playing li.play {
  display: none;
}
.playingpane ul.controls li.pause {
  display: none;
}
.playingpane ul.controls.playing li.pause {
  display: block;
}
@-moz-keyframes anim_playingpane_in {
  from {
    left: 0;
  }
}
@-webkit-keyframes anim_playingpane_in {
  from {
    left: 0;
  }
}
@keyframes anim_playingpane_in {
  from {
    left: 0;
  }
}
.animated.anim_playingpane_in {
  -moz-animation-name: anim_playingpane_in;
  -o-animation-name: anim_playingpane_in;
  -webkit-animation-name: anim_playingpane_in;
  animation-name: anim_playingpane_in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-moz-keyframes anim_playingtitle_out {
  to {
    -webkit-transform: translate3d(128px, 0, 0);
    -moz-transform: translate3d(128px, 0, 0);
    -ms-transform: translate3d(128px, 0, 0);
    -o-transform: translate3d(128px, 0, 0);
    transform: translate3d(128px, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim_playingtitle_out {
  to {
    -webkit-transform: translate3d(128px, 0, 0);
    -moz-transform: translate3d(128px, 0, 0);
    -ms-transform: translate3d(128px, 0, 0);
    -o-transform: translate3d(128px, 0, 0);
    transform: translate3d(128px, 0, 0);
    opacity: 0;
  }
}
@keyframes anim_playingtitle_out {
  to {
    -webkit-transform: translate3d(128px, 0, 0);
    -moz-transform: translate3d(128px, 0, 0);
    -ms-transform: translate3d(128px, 0, 0);
    -o-transform: translate3d(128px, 0, 0);
    transform: translate3d(128px, 0, 0);
    opacity: 0;
  }
}
.animated.anim_playingtitle_out {
  -moz-animation-name: anim_playingtitle_out;
  -o-animation-name: anim_playingtitle_out;
  -webkit-animation-name: anim_playingtitle_out;
  animation-name: anim_playingtitle_out;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -o-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
@-moz-keyframes anim_playingtitle_in {
  from {
    -webkit-transform: translate3d(-128px, 0, 0);
    -moz-transform: translate3d(-128px, 0, 0);
    -ms-transform: translate3d(-128px, 0, 0);
    -o-transform: translate3d(-128px, 0, 0);
    transform: translate3d(-128px, 0, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim_playingtitle_in {
  from {
    -webkit-transform: translate3d(-128px, 0, 0);
    -moz-transform: translate3d(-128px, 0, 0);
    -ms-transform: translate3d(-128px, 0, 0);
    -o-transform: translate3d(-128px, 0, 0);
    transform: translate3d(-128px, 0, 0);
    opacity: 0;
  }
}
@keyframes anim_playingtitle_in {
  from {
    -webkit-transform: translate3d(-128px, 0, 0);
    -moz-transform: translate3d(-128px, 0, 0);
    -ms-transform: translate3d(-128px, 0, 0);
    -o-transform: translate3d(-128px, 0, 0);
    transform: translate3d(-128px, 0, 0);
    opacity: 0;
  }
}
.animated.anim_playingtitle_in {
  -moz-animation-name: anim_playingtitle_in;
  -o-animation-name: anim_playingtitle_in;
  -webkit-animation-name: anim_playingtitle_in;
  animation-name: anim_playingtitle_in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -o-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
@-moz-keyframes anim_albumart_in {
  from {
    -webkit-transform: translate3d(-220px, 0, 0);
    -moz-transform: translate3d(-220px, 0, 0);
    -ms-transform: translate3d(-220px, 0, 0);
    -o-transform: translate3d(-220px, 0, 0);
    transform: translate3d(-220px, 0, 0);
  }
}
@-webkit-keyframes anim_albumart_in {
  from {
    -webkit-transform: translate3d(-220px, 0, 0);
    -moz-transform: translate3d(-220px, 0, 0);
    -ms-transform: translate3d(-220px, 0, 0);
    -o-transform: translate3d(-220px, 0, 0);
    transform: translate3d(-220px, 0, 0);
  }
}
@keyframes anim_albumart_in {
  from {
    -webkit-transform: translate3d(-220px, 0, 0);
    -moz-transform: translate3d(-220px, 0, 0);
    -ms-transform: translate3d(-220px, 0, 0);
    -o-transform: translate3d(-220px, 0, 0);
    transform: translate3d(-220px, 0, 0);
  }
}
.animated.anim_albumart_in {
  -moz-animation-name: anim_albumart_in;
  -o-animation-name: anim_albumart_in;
  -webkit-animation-name: anim_albumart_in;
  animation-name: anim_albumart_in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@-moz-keyframes anim_albumart_out {
  to {
    -webkit-transform: translate3d(220px, 0, 0);
    -moz-transform: translate3d(220px, 0, 0);
    -ms-transform: translate3d(220px, 0, 0);
    -o-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
  }
}
@-webkit-keyframes anim_albumart_out {
  to {
    -webkit-transform: translate3d(220px, 0, 0);
    -moz-transform: translate3d(220px, 0, 0);
    -ms-transform: translate3d(220px, 0, 0);
    -o-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
  }
}
@keyframes anim_albumart_out {
  to {
    -webkit-transform: translate3d(220px, 0, 0);
    -moz-transform: translate3d(220px, 0, 0);
    -ms-transform: translate3d(220px, 0, 0);
    -o-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
  }
}
.animated.anim_albumart_out {
  -moz-animation-name: anim_albumart_out;
  -o-animation-name: anim_albumart_out;
  -webkit-animation-name: anim_albumart_out;
  animation-name: anim_albumart_out;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*# sourceMappingURL=Tunr.css.map */