@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sanslight') format('svg');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: 'Open Sans';
  font-weight: normal;
  color: #fff;
  background-color: #0d0d0d;
}
.COMPONENT {
  display: none;
}
/* Fade in/out animations */
@-moz-keyframes anim_fadeout {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes anim_fadeout {
  to {
    opacity: 0;
  }
}
@keyframes anim_fadeout {
  to {
    opacity: 0;
  }
}
.animated.anim_fadeout {
  -moz-animation-name: anim_fadeout;
  -o-animation-name: anim_fadeout;
  -webkit-animation-name: anim_fadeout;
  animation-name: anim_fadeout;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes anim_fadein {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes anim_fadein {
  from {
    opacity: 0;
  }
}
@keyframes anim_fadein {
  from {
    opacity: 0;
  }
}
.animated.anim_fadein {
  -moz-animation-name: anim_fadein;
  -o-animation-name: anim_fadein;
  -webkit-animation-name: anim_fadein;
  animation-name: anim_fadein;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* Shove in animations */
@-moz-keyframes anim_shovein_top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim_shovein_top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@keyframes anim_shovein_top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
.animated.anim_shovein_top {
  -moz-animation-name: anim_shovein_top;
  -o-animation-name: anim_shovein_top;
  -webkit-animation-name: anim_shovein_top;
  animation-name: anim_shovein_top;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*
 * Dialog Styles, used for pop-up dialogs of any sort.
 */
div.dialog.vertical {
  position: fixed;
  width: 800px;
  height: 500px;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -400px;
  background-color: #ffffff;
}
div.dialog.vertical h1 {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 136px;
  color: #0d0d0d;
  line-height: 1;
  margin: -20px 0 0 -12px;
}
div.loginbg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 15;
}
div.loginbg div.dialog {
  position: fixed;
  width: 600px;
  height: 350px;
  top: 50%;
  margin-top: -175px;
  left: 50%;
  margin-left: -300px;
  text-align: center;
}
div.loginbg div.dialog h1 {
  font-family: 'Open Sans';
  font-weight: 100;
  letter-spacing: -2px;
  font-size: 96px;
  text-align: center;
  color: #0d0d0d;
  margin: 0;
}
div.loginbg div.dialog form input[type=email],
div.loginbg div.dialog form input[type=password] {
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  width: 220px;
  letter-spacing: -1.5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;
  display: block;
  margin: 12px auto;
  padding: 4px 8px;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
div.loginbg div.dialog form input[type=email]:focus,
div.loginbg div.dialog form input[type=password]:focus {
  opacity: 1;
  outline: none;
}
div.loginbg div.dialog form input[type=email]:-ms-input-placeholder,
div.loginbg div.dialog form input[type=password]:-ms-input-placeholder {
  font-weight: 100;
  opacity: 0.7;
  letter-spacing: 1px;
}
div.loginbg div.dialog form input[type=email]::-moz-placeholder,
div.loginbg div.dialog form input[type=password]::-moz-placeholder {
  font-weight: 100;
  opacity: 0.7;
  letter-spacing: 1px;
}
div.loginbg div.dialog form input[type=email]::-webkit-input-placeholder,
div.loginbg div.dialog form input[type=password]::-webkit-input-placeholder {
  font-weight: 100;
  opacity: 0.7;
  letter-spacing: 1px;
}
div.loginbg div.dialog form input[type=submit] {
  cursor: pointer;
  width: 236px;
  height: 48px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  background-color: #0d0d0d;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  margin: 12px 0 0 0;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -moz-transition: -moz-transform 300ms ease-in-out;
  -o-transition: -o-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
div.loginbg div.dialog form input[type=submit].pressed {
  -webkit-transform: scale3d(1, 0, 1);
  -moz-transform: scale3d(1, 0, 1);
  -ms-transform: scale3d(1, 0, 1);
  -o-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
}
div.loginbg div.dialog div.progress {
  cursor: pointer;
  width: 236px;
  height: 28px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  background-color: #0d0d0d;
  color: #ffffff;
  border: 0;
  padding: 10px 0;
  margin: 0 auto;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scale3d(1, 0.00001, 1);
  -moz-transform: scale3d(1, 0.00001, 1);
  -ms-transform: scale3d(1, 0.00001, 1);
  -o-transform: scale3d(1, 0.00001, 1);
  transform: scale3d(1, 0.00001, 1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -moz-transition: -moz-transform 300ms ease-in-out;
  -o-transition: -o-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
}
div.loginbg div.dialog div.progress.showing {
  -webkit-transform: translate3d(0, -48px, 0);
  -moz-transform: translate3d(0, -48px, 0);
  -ms-transform: translate3d(0, -48px, 0);
  -o-transform: translate3d(0, -48px, 0);
  transform: translate3d(0, -48px, 0);
}
@-moz-keyframes anim_login_out {
  to {
    width: 300px;
  }
}
@-webkit-keyframes anim_login_out {
  to {
    width: 300px;
  }
}
@keyframes anim_login_out {
  to {
    width: 300px;
  }
}
.animated.anim_login_out {
  -moz-animation-name: anim_login_out;
  -o-animation-name: anim_login_out;
  -webkit-animation-name: anim_login_out;
  animation-name: anim_login_out;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.librarypane {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 20;
}
.librarypane nav a {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 64px;
  color: #0d0d0d;
  text-decoration: none;
  line-height: 0.9;
  opacity: 0.3;
  display: block;
  text-transform: lowercase;
  white-space: nowrap;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}
.librarypane nav a:hover {
  opacity: 1;
}
.librarypane nav a:first-child {
  font-size: 96px;
}
.librarypane nav a:nth-child(3) {
  font-size: 52px;
}
.librarypane nav a:last-child {
  opacity: 1.0;
}
.librarypane div.container {
  position: relative;
  height: calc(100% - 120px);
  overflow-y: auto;
  overflow-x: hidden;
}
.librarypane ul {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  list-style-type: none;
}
.librarypane ul.artists {
  margin: 16px 0 0 20px;
  padding: 0;
  color: #0d0d0d;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 100;
}
.librarypane ul.artists li {
  padding: 4px 0;
  white-space: nowrap;
}
.librarypane ul.albums {
  display: none;
}
.librarypane ul.songs {
  display: none;
}
@-moz-keyframes anim_librarypane_in {
  from {
    left: -300px;
  }
}
@-webkit-keyframes anim_librarypane_in {
  from {
    left: -300px;
  }
}
@keyframes anim_librarypane_in {
  from {
    left: -300px;
  }
}
.animated.anim_librarypane_in {
  -moz-animation-name: anim_librarypane_in;
  -o-animation-name: anim_librarypane_in;
  -webkit-animation-name: anim_librarypane_in;
  animation-name: anim_librarypane_in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.playlistpane {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 300px;
  width: 300px;
  background-color: #0d0d0d;
  z-index: 10;
}
.playlistpane h1 {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 48px;
  text-transform: lowercase;
  margin: 24px 0 12px 24px;
}
@-moz-keyframes anim_playlistpane_in {
  from {
    left: 0;
  }
}
@-webkit-keyframes anim_playlistpane_in {
  from {
    left: 0;
  }
}
@keyframes anim_playlistpane_in {
  from {
    left: 0;
  }
}
.animated.anim_playlistpane_in {
  -moz-animation-name: anim_playlistpane_in;
  -o-animation-name: anim_playlistpane_in;
  -webkit-animation-name: anim_playlistpane_in;
  animation-name: anim_playlistpane_in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.playingpane {
  position: absolute;
  left: 600px;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 24px;
}
.playingpane h1 {
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 52px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  margin: 32px 0 0 0;
}
.playingpane h2 {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 36px;
  margin: 0 0 16px 0;
  text-transform: uppercase;
  color: #ffffff;
}
.playingpane img {
  margin: 16px 0 0 0;
  width: 225px;
  height: 225px;
  border: 2px solid #fff;
}
@-moz-keyframes anim_playingpane_in {
  from {
    left: 0;
  }
}
@-webkit-keyframes anim_playingpane_in {
  from {
    left: 0;
  }
}
@keyframes anim_playingpane_in {
  from {
    left: 0;
  }
}
.animated.anim_playingpane_in {
  -moz-animation-name: anim_playingpane_in;
  -o-animation-name: anim_playingpane_in;
  -webkit-animation-name: anim_playingpane_in;
  animation-name: anim_playingpane_in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
/*# sourceMappingURL=Tunr.css.map */