
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Forgot/_Layout.cshtml";
}

<h2>Error</h2>
<p>There was a problem resetting your password.</p>
<p>If you continue to have issues, please contact Tunr support: <a href="mailto:support@tunr.io">support@tunr.io</a></p>