
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Forgot/_Layout.cshtml";
}

<h2>E-Mail Away!</h2>
<p>If the e-mail address you provided us was registered to an account, you'll receive an e-mail with further instructions.</p>
<p>Any questions, comments, concerns? E-mail us at <a href="mailto:support@tunr.io">support@tunr.io</a>!</p>

