
@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Forgot/_Layout.cshtml";
}

<h2>Success!</h2>
<p>Your password was reset successfully.</p>
<p><a href="@Url.Action("Index", "Tunr")">Log In</a></p>

