<div id="component_LibraryPane" class="COMPONENT librarypane animated" data-animate-in="anim_librarypane_in" data-animate-out="anim_librarypane_out">
	<div class="uploadProgress"></div>
	<nav>
		<!-- This is where the library nav headers go -->
	</nav>
	<div class="container">
		<!-- This is where the library lists go -->
	</div>
</div>