<div id="component_LibraryPane" class="COMPONENT librarypane animated" data-animate-in="anim_librarypane_in" data-animate-out="anim_librarypane_out">
	<nav>
		<a class="animated" href="#" data-animate-in="anim_fadein">Music</a>
	</nav>
	<div class="container">
		<ul class="artists"></ul>
		<ul class="hidden albums"></ul>
		<ul class="hidden songs"></ul>
	</div>
</div>