@{
    Layout = null;
}

<div id="component_Login" class="COMPONENT loginbg animated" data-animate-out="anim_login_out">
	<div class="dialog">
		<h1 class="animated" data-animate-in="anim_shovein_top">Tunr</h1>
		<form>
			<input name="email" type="email" placeholder="e-mail address" class="animated" data-animate-in="anim_fadein" data-animate-out="anim_fadeout" />
			<input name="password" type="password" placeholder="password" class="animated" data-animate-in="anim_fadein" data-animate-out="anim_fadeout" />
			<input type="submit" value="Log In" class="animated submit" data-animate-in="anim_fadein" data-animate-out="anim_fadeout" />
			<div class="animated progress" data-animate-out="anim_fadeout">Working...</div>
		</form>
	</div>
</div>
