<div id="component_PlayingPane" class="COMPONENT playingpane animated" data-animate-in="anim_playingpane_in" data-animate-out="anim_playingpane_out">
	<div class="title animated">
		<h1>Now Playing</h1>
		<h2></h2>
	</div>
	<div class="art">
		<img src="~/Content/svg/album_cover.svg" alt="Album Art" />
	</div>
	<ul class="controls">
		<li class="prev"><button></button></li>
		<li class="pause"><button></button></li>
		<li class="play"><button></button></li>
		<li class="next"><button></button></li>
	</ul>
</div>