<div id="component_PlayingPane" class="COMPONENT playingpane animated" data-animate-in="anim_playingpane_in" data-animate-out="anim_playingpane_out">
	<h1>Song Title</h1>
	<h2>Artist Name</h2>
	<img />
</div>