/* Fade in/out animations */
@-moz-keyframes anim_fadeout {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes anim_fadeout {
  to {
    opacity: 0;
  }
}
@keyframes anim_fadeout {
  to {
    opacity: 0;
  }
}
.animated.anim_fadeout {
  -moz-animation-name: anim_fadeout;
  -o-animation-name: anim_fadeout;
  -webkit-animation-name: anim_fadeout;
  animation-name: anim_fadeout;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes anim_fadein {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes anim_fadein {
  from {
    opacity: 0;
  }
}
@keyframes anim_fadein {
  from {
    opacity: 0;
  }
}
.animated.anim_fadein {
  -moz-animation-name: anim_fadein;
  -o-animation-name: anim_fadein;
  -webkit-animation-name: anim_fadein;
  animation-name: anim_fadein;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* Shove in animations */
@-moz-keyframes anim_shovein_top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes anim_shovein_top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
@keyframes anim_shovein_top {
  from {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
    opacity: 0;
  }
}
.animated.anim_shovein_top {
  -moz-animation-name: anim_shovein_top;
  -o-animation-name: anim_shovein_top;
  -webkit-animation-name: anim_shovein_top;
  animation-name: anim_shovein_top;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.librarypane {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 20;
  -webkit-transition: border 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: border 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: border 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: border 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.librarypane.dragging {
  border: 6px dashed #000;
}
.librarypane div.uploadProgress {
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  height: 18px;
  opacity: 0;
  background-image: url('../../svg/progress_stripe_black.svg');
  -moz-animation-name: anim_upload_progress_stripe;
  -o-animation-name: anim_upload_progress_stripe;
  -webkit-animation-name: anim_upload_progress_stripe;
  animation-name: anim_upload_progress_stripe;
  -moz-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transition: top 150ms cubic-bezier(0.075, 0.820, 0.165, 1.000), opacity 150ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -moz-transition: top 150ms cubic-bezier(0.075, 0.820, 0.165, 1.000), opacity 150ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -o-transition: top 150ms cubic-bezier(0.075, 0.820, 0.165, 1.000), opacity 150ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition: top 150ms cubic-bezier(0.075, 0.820, 0.165, 1.000), opacity 150ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
.librarypane.uploading div.uploadProgress {
  top: 0;
  opacity: 1;
}
.librarypane nav a {
  cursor: pointer;
  overflow: hidden;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 64px;
  color: #0d0d0d;
  text-decoration: none;
  line-height: 0.9;
  opacity: 0.3;
  display: block;
  text-transform: lowercase;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}
.librarypane nav a:not(:first-child) {
  -moz-animation-name: anim_librarypane_list_in;
  -o-animation-name: anim_librarypane_list_in;
  -webkit-animation-name: anim_librarypane_list_in;
  animation-name: anim_librarypane_list_in;
  -moz-animation-duration: 250ms;
  -o-animation-duration: 250ms;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.librarypane nav a:hover {
  opacity: 1;
}
.librarypane nav a:first-child {
  font-size: 96px;
}
.librarypane nav a:nth-child(3) {
  font-size: 52px;
}
.librarypane nav a:last-child {
  opacity: 1.0;
}
.librarypane div.container {
  position: relative;
  height: calc(100% - 120px);
  overflow: hidden;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.librarypane ul {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  list-style-type: none;
  -moz-animation-name: anim_librarypane_list_in;
  -o-animation-name: anim_librarypane_list_in;
  -webkit-animation-name: anim_librarypane_list_in;
  animation-name: anim_librarypane_list_in;
  -moz-animation-duration: 200ms;
  -o-animation-duration: 200ms;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  z-index: 10;
  -moz-perspective: inherit;
  -ms-perspective: inherit;
  -webkit-perspective: inherit;
  perspective: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.librarypane ul.hidden {
  -moz-animation-name: anim_librarypane_list_out;
  -o-animation-name: anim_librarypane_list_out;
  -webkit-animation-name: anim_librarypane_list_out;
  animation-name: anim_librarypane_list_out;
  -moz-animation-duration: 200ms;
  -o-animation-duration: 200ms;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 9;
}
.librarypane ul.tagPerformers {
  margin: 16px 0 0 20px;
  padding: 0;
  color: #0d0d0d;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 100;
}
.librarypane ul.tagPerformers li {
  cursor: pointer;
  padding: 4px 0;
  white-space: nowrap;
}
.librarypane ul.tag {
  margin: 16px 8px 0 8px;
  padding: 0;
}
.librarypane ul.tag li {
  cursor: pointer;
  background-color: #eee;
  display: block;
  float: left;
  width: 128px;
  height: 128px;
  margin: 6px;
}
.librarypane ul.tag li img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
.librarypane ul.songs {
  margin: 16px 0 0 16px;
  padding: 0;
  color: #0d0d0d;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 100;
}
.librarypane ul.songs li {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 4px 0;
  white-space: nowrap;
}
.librarypane ul.songs li .track {
  font-size: 26px;
  padding-right: 8px;
}
@-moz-keyframes anim_upload_progress_stripe {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -48px center;
  }
}
@-webkit-keyframes anim_upload_progress_stripe {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -48px center;
  }
}
@keyframes anim_upload_progress_stripe {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -48px center;
  }
}
@-moz-keyframes anim_librarypane_in {
  from {
    left: -300px;
  }
}
@-webkit-keyframes anim_librarypane_in {
  from {
    left: -300px;
  }
}
@keyframes anim_librarypane_in {
  from {
    left: -300px;
  }
}
.animated.anim_librarypane_in {
  -moz-animation-name: anim_librarypane_in;
  -o-animation-name: anim_librarypane_in;
  -webkit-animation-name: anim_librarypane_in;
  animation-name: anim_librarypane_in;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
/*# sourceMappingURL=LibraryPane.css.map */